body {

  font-family: Roboto;

  padding: 2.11vh 0px 0px 21.35vw;
  /* padding: 20px 0px 0px 410px; */
  margin: 0px 0px 0px 0px;

}

p {

  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;

}

.checkout-header {

  display: flex;
  flex-direction: row;

  padding: 0px 0px 9.52vh 0px;
  /* padding: 0px 0px 90px 0px; */
  margin: 0px 0px 0px 0px;

}

.checkout-header p {

  font-size: 25px;
  font-weight: 500;

}

.checkout-logo {

  padding: 0px 0px 0px 0px;
  margin: 0px 18.22vw 0px 0px;
  /* margin: 0px 350px 0px 0px; */

  height: 3.17vh;

}

.checkout-logo img {

  height: 100%;

}

.cheakout-subtitle {

  font-weight: bold;
  font-size: 22px;

  margin: 0px 0px 1.90vh 0px;
  /* margin: 0px 0px 18px 0px; */

}

.checkout-main-container {

  display: flex;
  flex-direction: row;

}

.checkout-list {

  padding: 0px 0px 0px 0px;
  margin: 0px 0.62vw 0px 0px;
  /* margin: 0px 12px 0px 0px; */

}

.cheakout-product {

  display: flex;
  flex-direction: column;

  border: solid 1px rgb(221, 221, 221);
  border-radius: 4px;

  padding: 2.43vh 0px 1.90vh 0.93vw;
  margin: 0px 0px 0.67vh 0px;
  /* padding: 23px 0px 18px 18px;
  margin: 0px 0px 12px 0px; */

  width: 37.39vw;
  /* width: 718px; */

}

.cheakout-product-delivery-date {

  color: green;

  font-size: 19px;
  font-weight: bold;

  padding: 0px 0px 0px 0px;
  margin: 0px 0px 2.32vh 0px;
  /* margin: 0px 0px 22px 0px; */

}

.checkout-product-information {

  display: flex;
  flex-direction: row;

  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;

  width: auto;

}

.checkout-product-information img {

  object-fit: contain;
  object-position: center;

  padding: 0px 0px 0px 0px;
  margin: 0px 1.30vw 0px 0px;
  /* margin: 0px 25px 0px 0px; */

  width: 5.20vw;
  height: 10.58vh;

}

.checkout-product-main-info {

  display: flex;
  flex-direction: column;

  padding: 0px 0px 0px 0px;
  margin: 0px 1.25vw 0px 0px;
  /* margin: 0px 24px 0px 0px; */

  width: 14.32vw;

}

.cheakout-product-title {

  font-weight: bold;

  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0.84vh 0px;
  /* margin: 0px 0px 8px 0px; */

}

.cheakout-product-price {

  color: rgb(190, 0, 0);
  font-weight: bold;

  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0.52vh 0px;
  /* margin: 0px 0px 5px 0px; */

}

.checkout-product-delivery {

  display: flex;
  flex-direction: column;

  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;

}

.checkout-product-delivery-option {

  display: flex;
  flex-direction: row;

  padding: 0px 0px 0px 0px;
  margin: 0px 0px 1.26vh 0px;
  /* margin: 0px 0px 12px 0px; */

}

.checkout-product-delivery-option * {
  
  cursor: pointer;

}

.cheakout-product-quantity-update, .cheakout-product-quantity-delete, .cheakout-product-quantity-save {

  display: inline-block;

  color: rgb(0, 105, 190);

  margin: 0px 0px 0px 0.15vw;
  /* margin: 0px 0px 0px 3px; */

  cursor: pointer;

}

.cheakout-product-quantity-input {

  font-family: Roboto;
  font-size: 16px;

  width: 2.60vw;
  height: 2.01vh;
  /* width: 50px;
  height: 19px; */
  outline: none;

}

.checkout-product-delivery-option input {

  width: 0.98vw;
  height: 2.01vh;
  /* width: 19px;
  height: 19px; */

  padding: 0px 0px 0px 0px;
  margin: 0.21vh 0.26vw 0px 0.05vw;
  /* margin: 2px 5px 0px 1px; */

}

.checkout-summary {

  display: flex;
  flex-direction: column;

  border: solid 1px rgb(221, 221, 221);
  border-radius: 4px;

  padding: 1.90vh 0.93vw 1.90vh 0.93vw;
  /* padding: 18px 18px 18px 18px; */
  margin: 0px 0px 0px 0px;

  width: 16.25vw;
  /* width: 312px; */

}

.checkout-summary-header {

  display: flex;
  flex-direction: column;

  font-weight: bold;
  font-size: 18px;

  padding: 0px 0px 0px 0px;
  margin: 0px 0px 1.26vh 0px;
  /* margin: 0px 0px 12px 0px; */

}

.checkout-summary-item-count, .checkout-summary-shipping-cost, .checkout-summary-total-before-tax, .checkout-summary-tax-cost, .checkout-summary-order-total, .checkout-summary-use-paypal {

  display: flex;
  flex-direction: row;

  justify-content: space-between;

  font-size: 15px;

  padding: 0px 0px 0px 0px;
  margin: 0px 0px 1.05vh 0px;
  /* margin: 0px 0px 9px 0px; */

}

.checkout-summary-total-before-tax {

  /* padding: 12px 0px 0px 0px; */
  align-items: end;
  
}

.checkout-summary-total-before-tax .cost {

  border-top: solid 1px rgb(221, 221, 221);
  padding: 1.05vh 0px 0px 0px;
  /* padding: 9px 0px 0px 0px; */
  
}

.checkout-summary-order-total {

  color: brown;
  font-size: 18px;
  font-weight: bold;

  border-top: solid 1px rgb(221, 221, 221);

  padding: 2.01vh 0px 1.05vh 0px;
  /* padding: 19px 0px 10px 0px; */

}

.checkout-summary-use-paypal {

  justify-content: left;
  align-items: center;

  font-size: 16px;

  margin: 0px 0px 2.11vh 0px;
  /* margin: 0px 0px 20px 0px; */

}

.checkout-summary-use-paypal input {

  margin: 0px 0px 0px 0.52vw;
  /* margin: 0px 0px 0px 10px; */

  width: 1.04vw;
  height: 2.11vh;

  /* width: 20px;
  height: 20px; */

}

.checkout-summary hr {

  border: solid 1px rgb(221, 221, 221);

}

.checkout-place-order-button {

  background-color: rgb(255, 217, 0);

  border: none;
  border-radius: 8px;

  padding: 1.48vh 0px 1.48vh 0px;
  /* padding: 14px 0px 14px 0px; */

  cursor: pointer;

}

.checkout-empty {

  display: flex;
  flex-direction: column;

  padding: 0px 31.51vw 0px 0px;
  /* padding: 0px 605px 0px 0px; */

}

.checkout-empty button {

  font-size: 16px;

  background-color: rgb(255, 217, 0);

  border: none;
  border-radius: 8px;

  margin: 0.84vh 0px 0px 0px;
  padding: 1.05vh 0px 1.05vh 0px;
  /* margin: 8px 0px 0px 0px;
  padding: 10px 0px 10px 0px; */

  cursor: pointer;

}

.disable-button {

  background-color: rgb(255, 235, 123);

  cursor: not-allowed;

}

@media screen and (max-width: 600px) {

  body {
  
    padding: 2.5vh 5vw 0px 5vw;
  
  }

  .checkout-header {
  
    padding: 0px 0px 5vh 0px;
  
  }

  .checkout-header p {
  
    font-size: 20px;
  
  }

  .checkout-logo {

    margin: 0px 9vw 0px 0px;
  
    height: 2.5vh;
  
  }

  .cheakout-subtitle {
    
    font-size: 18px;
    margin: 0px 0px 1.90vh 0px;
  
  }

  .cheakout-product {
  
    padding: 2.43vh 0px 1.90vh 0.93vw;
    margin: 0px 0px 0.67vh 0px;
  
    width: 54vw;
  
  }

  .checkout-summary {
  
    padding: 1.90vh 0.93vw 1.90vh 0.93vw;
    width: 36vw;
  
  }

  .checkout-summary-header {

    font-size: 13px;
    margin: 0px 0px 1.26vh 0px;
  
  }

  .checkout-summary-item-count, .checkout-summary-shipping-cost, .checkout-summary-total-before-tax, .checkout-summary-tax-cost, .checkout-summary-order-total, .checkout-summary-use-paypal {
  
    font-size: 10px;
    margin: 0px 0px 1.14vh 0px;
  
  }

  .checkout-summary-total-before-tax .cost {
    
    padding: 1.14vh 0px 0px 0px;
    
  }

  .checkout-summary-order-total {
    
    font-size: 13px;  
    padding: 2.42vh 0px 1.27vh 0px;
  
  }

  .checkout-summary-use-paypal {
  
    font-size: 13px;
    margin: 0px 0px 2.11vh 0px;
  
  }
  
  .checkout-summary-use-paypal input {
  
    margin: 0px 0px 0px 1.05vw;
    width: 4vw;
    height: 2.5vh;
  
  }

  .checkout-place-order-button {

    font-size: 10px;

    border-radius: 8px;
    padding: 1.78vh 0px 1.78vh 0px;
  
  }
  
}